<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="copy">
    <div class="container px-4 px-lg-5">
        <a class="navbar-brand" href="/">HandsMade</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Trang chủ</a></li>
                <li class="nav-item"><a class="nav-link" href="#!">Giới thiệu</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/">Sản phẩm</a></li>
                        <li><hr class="dropdown-divider" /></li>
                        <li><a class="dropdown-item" href="#!">Nổi bật</a></li>
                        <li><a class="dropdown-item" href="/item">Bộ sưu tập mới</a></li>
                    </ul>
                </li>
            </ul>
            <form class="d-flex" th:action="@{/cart}" method='POST'>                
                <button class="btn btn-outline-dark" type="submit">
                    <i class="bi-cart-fill me-1"></i>
                    Giỏ hàng
                    <span class="badge bg-dark text-white ms-1 rounded-pill" >0</span>
                </button>
            </form>

            <p id="username" th:text="${session.username}" style="display: none;"></p>
            <button id="btnLogin" onclick="goLogin()" class="btn btn-outline-dark" >
                <i class="bi bi-person-fill"></i>
                Đăng nhập                    
            </button>
            
            <button id="btnLogout" onclick="goLogout()" class="btn btn-outline-dark" >
                <i class="bi bi-person-fill"></i>
                Đăng xuất
            </button>             
            <script th:inline="javascript">

                window.onload = function(){controlBtn()}

                function controlBtn(){
                    var btnLogin = document.getElementById("btnLogin");
                    var btnLogout = document.getElementById("btnLogout");

                    var txtName = document.getElementById("username");
                    var username = txtName.innerText;

                    if(username){
                        btnLogin.style.display = "none";
                        btnLogout.style.display = "block";
                    }else{
                        btnLogin.style.display = "block";
                        btnLogout.style.display = "none";
                    }
                }

                function goLogin(){
                    window.location.href = "/login"
                }
                function goLogout(){
                    sessionStorage.clear();
                    window.location.href = "/logout"
                }
            </script>  
        </div>
    </div>
</nav>
